/* Typography  */
/*  Color */
.container {
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
}
.container--inner {
  max-width: 90rem;
}

[class^=section-]:not(.section-hero) {
  padding: 9.6rem 0;
}

.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 12rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.grid-center-v {
  align-items: center;
}

.heading-tertiary, .heading-secondary, .heading-primary {
  font-weight: 700;
  color: #343434;
  letter-spacing: -0.2px;
}

.heading-primary {
  font-size: clamp(3.2rem, 7vw, 6.4rem);
  line-height: 1.05;
  margin-bottom: 2.4rem;
}
.heading-secondary {
  font-size: clamp(2.8rem, 5vw, 4rem);
  line-height: 1.2;
  margin-bottom: 6.4rem;
}
.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ff9e1b;
  text-transform: uppercase;
  margin: 0 0 1.6rem 0.2rem;
  letter-spacing: 0.5px;
}

.section-contact .contact-social .contact-list .contact-item .contact-link:link, .pen-more-item .pen-more-title .heading-tertiary a:link, .project-list .heading-tertiary a:link, .section-about .about-content .about-text-box .link:link, .main-nav-link:link, .section-contact .contact-social .contact-list .contact-item .contact-link:visited, .pen-more-item .pen-more-title .heading-tertiary a:visited, .project-list .heading-tertiary a:visited, .section-about .about-content .about-text-box .link:visited, .main-nav-link:visited {
  display: inline-block;
  text-decoration-thickness: 1.5px;
  background: linear-gradient(to right, #ffc576 50%, transparent 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  transition: 0.25s ease;
}
.section-contact .contact-social .contact-list .contact-item .contact-link:hover, .pen-more-item .pen-more-title .heading-tertiary a:hover, .project-list .heading-tertiary a:hover, .section-about .about-content .about-text-box .link:hover, .main-nav-link:hover, .section-contact .contact-social .contact-list .contact-item .contact-link:active, .pen-more-item .pen-more-title .heading-tertiary a:active, .project-list .heading-tertiary a:active, .section-about .about-content .about-text-box .link:active, .main-nav-link:active, .section-contact .contact-social .contact-list .contact-item .active.contact-link, .pen-more-item .pen-more-title .heading-tertiary a.active, .project-list .heading-tertiary a.active, .section-about .about-content .about-text-box .active.link, .active.main-nav-link {
  background-position: left top;
}

.btn-outline:link, .btn-outline:visited {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-outline {
  border: 0.2rem solid #343434;
  color: #343434;
}
.btn-outline-lg {
  font-size: 1.6rem;
  padding: 1.2em 2.4em;
}
.btn-outline-md {
  font-size: 1.4rem;
  padding: 0.8em 1.6em;
}
.btn-outline:hover, .btn-outline:active {
  background-color: #ffc576;
}

.section-contact .contact-social .contact-list, .pen-more-item .pen-more-tech, .project-list .project-tech {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.6rem 0;
}

.pen-more-item .pen-more-tech li, .project-list .project-tech li, .section-about .about-content .about-text-box .about-tech-list .tech-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  line-height: 1.2;
  letter-spacing: 0.08rem;
}

/* HELPER/SETTINGS CLASSES */
.center-text {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-0 {
  margin: 0 !important;
}
.my-1 {
  margin: 1rem 0 !important;
}
.my-2 {
  margin: 2rem 0 !important;
}
.my-3 {
  margin: 3rem 0 !important;
}
.my-4 {
  margin: 4rem 0 !important;
}

.mr-sm {
  margin-right: 1.5rem !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #575757;
  overflow-x: hidden;
}

/*****************************/
/* HEADER */
/*****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  z-index: 11;
}
.header .logo {
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .logo:hover {
  transform: rotate(-90deg);
}

/*****************************/
/* NAVIGATION */
/*****************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link {
  color: #343434;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #343434;
}
.icon-mobile-nav.close {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(173, 173, 173, 0.1);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}

/*****************************/
/* HERO SECTION */
/*****************************/
.section-hero {
  min-height: 100vh;
}

.hero {
  margin: 0 auto;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 4.8rem 0.2rem;
}

/*****************************/
/* ABOUT SECTION */
/*****************************/
.section-about {
  background-color: #f7f7f7;
}
.section-about .about-content {
  grid-template-columns: 3fr 2fr;
}
.section-about .about-content .about-text-box {
  font-size: 1.8rem;
  line-height: 1.6;
}
.section-about .about-content .about-text-box p {
  margin: 0 0 1.6rem;
}
.section-about .about-content .about-text-box .link {
  color: inherit;
}
.section-about .about-content .about-text-box .about-tech-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(14rem, 20rem));
  gap: 1rem 1.2rem;
  padding: 1.6rem 0;
  font-size: 1.3rem;
}
.section-about .about-content .about-text-box .about-tech-list .tech-item {
  letter-spacing: 0.04rem;
}
.section-about .about-content .about-text-box .about-tech-list .tech-item .tech-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #ff9e1b;
}
.section-about .about-content .about-text-box .download {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.8rem;
  color: #343434;
  margin: 2.4rem 0 0 -0.2rem;
}
.section-about .about-content .about-text-box .download-icon {
  width: 3.05rem;
  height: 3.05rem;
  fill: inherit;
  stroke: inherit;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section-about .about-content .about-text-box .download-icon polyline,
.section-about .about-content .about-text-box .download-icon line {
  stroke: white;
}
.section-about .about-content .about-text-box .download span {
  margin-left: 0.6rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section-about .about-content .about-text-box .download:hover .download-icon {
  transform: rotate(90deg);
}
.section-about .about-content .about-text-box .download:hover span {
  transform: translateX(0.25rem);
}
.section-about .about-content .about-img-box {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  filter: grayscale(40%) opacity(0.85);
  background-color: #f7f7f7;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section-about .about-content .about-img-box:hover {
  filter: none;
  mix-blend-mode: normal;
}
.section-about .about-content .about-img-box .about-image {
  width: 100%;
  mix-blend-mode: multiply;
  max-width: 34rem;
  position: absolute;
  border-radius: 0.4rem;
  object-fit: cover;
}

/*****************************/
/* PROJECT SECTION */
/*****************************/
.project-list .heading-tertiary a {
  color: inherit;
}
.project-list .project-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.project-list .project-tech {
  font-size: 1.2rem;
  color: #686868;
}
.project-list .project-links {
  display: flex;
  gap: 2rem;
  margin-top: 1.6rem;
}
.project-list .project-links a {
  color: #343434;
}
.project-list .project-links a:hover {
  color: #ff9e1b;
}
.project-list .project-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.project-list .project-img:hover img {
  filter: none;
  mix-blend-mode: normal;
}
.project-list .project-img a {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.project-list .project-img img {
  width: 100%;
  filter: grayscale(0.8) opacity(0.8);
  mix-blend-mode: multiply;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 4px;
}

/*****************************/
/* CODEPEN & MORE SECTION */
/*****************************/
.pen-more-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.pen-more-item .pen-more-image {
  overflow: hidden;
}
.pen-more-item .pen-more-image img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pen-more-item .pen-more-image img:hover {
  transform: scale(1.08);
}
.pen-more-item .pen-more-title {
  margin-top: 2.4rem;
}
.pen-more-item .pen-more-title .heading-tertiary {
  font-size: 2rem;
}
.pen-more-item .pen-more-title .heading-tertiary a {
  color: inherit;
}
.pen-more-item .pen-more-description {
  font-size: 1.6rem;
  line-height: 1.5;
}
.pen-more-item .pen-more-tech {
  font-size: 1.2rem;
  color: #686868;
}
/*****************************/
/* CONTACT SECTION */
/*****************************/
.section-contact {
  background-color: #f7f7f7;
}
.section-contact .container-contact {
  margin-bottom: 9.6rem;
}
.section-contact .contact-content {
  font-size: 1.8rem;
  line-height: 1.6;
}
.section-contact .contact-social .contact-list {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2.4rem;
}
.section-contact .contact-social .contact-list .contact-item {
  display: flex;
  align-items: center;
}
.section-contact .contact-social .contact-list .contact-item .contact-link {
  color: #575757;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.section-contact .contact-social .contact-list .contact-item .icon {
  width: 0.8rem;
  fill: #ff9e1b;
  stroke: #ff9e1b;
}

/*****************************/
/* FOOTER */
/*****************************/
.footer {
  padding: 4.8rem 0;
  border-top: 1px solid #e6e6e6;
  background-color: #f7f7f7;
}
.footer .container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container-footer .social-links {
  padding-bottom: 2.4rem;
  display: flex;
  gap: 2.4rem;
}
.footer .container-footer .social-links a {
  color: #343434;
}
.footer .container-footer .social-links a:hover {
  color: #ff9e1b;
}
.footer .container-footer p {
  font-size: 1.2rem;
}

/*****************************/
/* BELOW 1184px (Landscape Tablets) */
/*****************************/
@media (max-width: 74em) {
  html {
    font-size: 56.25%;
  }
}
/*****************************/
/* BELOW 944px (Tablets) */
/*****************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .grid {
    column-gap: 3.2rem;
  }
}
/*****************************/
/* BELOW 768px  (Smaller Tablets) */
/*****************************/
@media (max-width: 48em) {
  .grid {
    row-gap: 8rem;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  [class^=section-]:not(.section-hero) {
    padding: 8rem 0;
  }
  .section-about .about-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .section-about .about-content .about-text-box .about-tech-list {
    grid-template-columns: repeat(2, minmax(16rem, 24rem));
  }
  .section-about .about-content .about-img-box .about-image {
    transform: translateY(-3.2rem);
    width: 70%;
  }
  .project-text {
    transform: translateY(-3.2rem);
  }
  .project-img:nth-child(2) {
    grid-row: 1;
  }
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 10;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* Hide navigation */
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav.close {
    display: block;
  }
  .nav-open .icon-mobile-nav.menu {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
/*****************************/
/* BELOW 480px (Phones) */
/*****************************/
@media (max-width: 30em) {
  .grid {
    row-gap: 6.4rem;
  }
  [class^=section-]:not(.section-hero) {
    padding: 7.2rem 0;
  }
  .section-about .about-content {
    grid-template-rows: 3fr 1.5fr;
  }
}
/*****************************/
/* HEIGHT BELOW 704px, WIDTH BELOW 368px  */
/*****************************/
@media (max-height: 44em) and (min-width: 44em), (max-width: 23em) {
  .hero {
    height: auto;
    padding-top: 9.6rem;
  }
}

/*# sourceMappingURL=main.css.map */
